---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Socials from "@/components/Socials.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";

import presentation from "@/data/presentation";
import WorkExperience from "@/components/WorkExperience.astro";
import Education from "@/components/Education.astro";
// import Projects from "@/components/Projects.astro";
// import Blogs from "@/components/Blogs.astro";
---

<Layout>
  <main class="flex flex-col gap-20 z-100">
    <article
      class="flex flex-col gap-8 md:flex-row-reverse md:justify-end md:gap-12"
    >
      {
        presentation.profile && (
          <Image
            src={presentation.profile}
            alt="From GitHub"
            class="w-1/4 self-center rounded-full z-10"
            width="200"
            height="200"
            loading="eager"
          />
        )
      }

      <div class="flex flex-col gap-8">
        <h1 class="text-3xl text-neutral-100">
          {presentation.title}&#x1F44B;
        </h1>

        <h2
          class="w-auto max-w-[60ch] leading-6"
          set:html={convertAsteriskToStrongTag(presentation.description)}
        />
        <Socials />
      </div>
    </article>

    <WorkExperience />
    <Education />
    <!-- <Blogs />
    <Projects /> -->
  </main>
</Layout>
