<article class="flex flex-col gap-6">
	<h3 class="text-lg font-semibold text-white">Work Experience</h3>
	<div class="flex flex-col gap-2">
		<div class="flex items-center justify-between px-3 py-2 rounded-md">
			<div class="flex items-center gap-4">
				<img
					src="https://cdn.brandfetch.io/id8i2DmKRE/w/400/h/400/theme/dark/icon.jpeg?c=1dxbfHSJFAPEGdCLU4o5B"
					class="w-10 h-10 rounded-full"
					alt="HCLTech Logo"
				/>
				<div>
					<p class="text-sm font-semibold text-white">HCLTech</p>
					<p class="text-xs text-gray-400">Software Engineer</p>
				</div>
			</div>
			<p class="text-xs text-gray-400">Dec 2022 - Present</p>
		</div>
	</div>
</article>
